* {
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #212529;
}

::-webkit-scrollbar-thumb {
  background-color: #12b886;
  border-radius: 50px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.textarea-container::-webkit-scrollbar {
  display: none;
}
